
body{
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

form .btn.pull-right{
  margin-left: 10px;
}

.title h3{
  color: #789;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.result{
  margin-top: 20px;
}

.no-display{
  display: none;
}

.gmap{
  margin-top: 15px;
  height: 300px;
}
